

 .nav-item{
    margin: 0px 7px;
}
.navbar-brand{
    
    font-size: 30px;
}
.bg{
    background-image:url(../img/maxresdefault.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    

  
}
.hed{
    font-size: 60px;
    color: rgb(243, 225, 225);
    padding-top: 150px;
    text-align: center;
}
    .text-light1{
        font-size: 36px;
        color:rgb(230, 125, 125);
        padding-top: 50px;
    }
    .btn1{
        background: transparent;
        border: 1px solid red;
        transition: 0.5s;
    }
    .host{
        position: relative;
        overflow: hidden;
    }
    .box{
        width: 94%;
        background: rgba(6, 12, 34, 0.26);
        position: absolute;
        bottom: -40px;
        transition: all 0.3s;

    }
    .host:hover .box{
        bottom: 0px;
    }
    h4{
        margin-bottom: 5px;

    }
    .img-user{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    
     